.svg {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 90%;
    flex-wrap: wrap;
    max-width: 1440px; /* whatever you desire */
    margin-left: auto; /* center the container */
    margin-right: auto; /* center the container */
    margin-top: 0;
}
.svgMain {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1440px; /* whatever you desire */
    margin-left: auto; /* center the container */
    margin-right: auto; /* center the container */
    margin-top: 0;
}
.card {
    min-width:50px;
    margin-left: auto; /* center the container */
    margin-right: auto; /* center the container */
    justify-content: center;
    margin-bottom: 0;
    background-color: #111a29;
}
.car {
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
    background-color: #111a29;
    
}
.cards {
    width: 90%;
    margin-left: auto; /* center the container */
    margin-right: auto; /* center the container */
    justify-content: center;
    margin-bottom: 0;
    background-color: #111a29;
    border-radius: 25px;
}

@media screen and (max-width: 700px) {
    .svgMain {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1440px; /* whatever you desire */
        margin-left: auto; /* center the container */
        margin-right: auto; /* center the container */
        margin-top: 0;
    }
    .svg {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        width: 90%;
        flex-wrap: wrap;
        max-width: 1440px; /* whatever you desire */
        margin-left: auto; /* center the container */
        margin-right: auto; /* center the container */
        margin-top: 0;
        border-radius: 25px;
    }
    .cards {
        width: 90%;
        margin-left: auto; /* center the container */
        margin-right: auto; /* center the container */
        justify-content: center;
        margin-bottom: 0;
        background-color: #111a29;
    }
    .card {
        margin-left: auto; /* center the container */
        margin-right: auto; /* center the container */
        justify-content: center;
        background-color: #111a29;
        border-radius: 25px;
        
    }
}

/* .line1 {
position: absolute;
width: 776.42px;
height: 66px;
left: 128.75px;
top: 52.83px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 66px;
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
} */

  

